<form [formGroup]="entryForm" class="form-row" id="entryForm" (ngSubmit)="saveEntry()">
    <table class="product-table table">
        <tbody>
            <tr [ngClass]="editMode ? 'entry-edit':'entry-read'">
                <td> <input type="text" formControlName="code" form="entryForm" placeholder="CODE" #codeInput ></td>
                <td> <input type="text" formControlName="name" form="entryForm" placeholder="Product Name" ></td>
                <td>
                    <div class="input-currency" [ngClass]="{'hasError':(this.entryForm.get('baseprice')?.invalid)}">
                        <strong>&#8364;</strong></div>
                    <input type='number' class="input-hascurrency" formControlName="baseprice" form="entryForm" placeholder="Base Price" >
                </td>
                <td>
                    <input class="input-haspercent" type="number" formControlName="tax" form="entryForm"
                        placeholder="Tax" >
                    <div class="input-percent" [ngClass]="{'hasError':(this.entryForm.get('tax')?.invalid)}"><strong>&#37;</strong></div>
                </td>
                <td>
                    <div class="input-currency" >
                        <strong>&#8364;</strong></div>
                    <input class="input-total text-right input-hascurrency" [disabled]="true" type="text" value="{{(this.entryForm.get('baseprice')?.value * ((100+this.entryForm.get('tax')?.value)/100)) |
                     number:'1.2-2'}}">
                </td>
                <td *ngIf="!billMode">
                    <button type="button" *ngIf="!editMode" class="btn btn-action btn-primary" (click)="editEntry()"><i
                            class="icon icon-edit"></i></button>
                    <button type="button" *ngIf="!editMode" class="btn btn-action btn-error" (click)="deleteEntry()"><i
                            class="icon icon-delete"></i></button>
                    <button type="submit" [disabled]="this.entryForm.invalid" [ngClass]="{'d-none': !editMode, 'btn btn-action btn-success':true}"
                        ><i class="icon icon-check"></i></button>
                    <button type="button" *ngIf="editMode && !entry.transient" class="btn btn-action"
                        (click)="cancelEdit()"><i class="icon icon-refresh flip-h"></i></button>
                    <button type="button" *ngIf="editMode && entry.transient" class="btn btn-action"
                        (click)="deleteEntry()"><i class="icon icon-cross"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</form>