.entry-read{
    input{
        border-color: rgba(0,0,0,0);
        background: transparent;
        width:100%;
    }   
}

.entry-edit{
    input{
        width:100%;
    }
}

.input-total{
    border-color: transparent;
    background-color: #EEE;
    color: black;
    font-weight: bolder;

}
