.entry-read{
    input{
        border-color: rgba(0,0,0,0);
        background: transparent;
        width:100%;
    }
   
}


.entry-edit{
    input{
        width:100%;
    }
}

.form-row:hover{
    background-color: #EEE;
}
   

.input-total{
    font-weight: bolder;
    background-color: transparent;
    border: none;
}